Vagrant.configure(2) do |config|
  config.vm.box = "ubuntu-python3-pygame"
  config.vm.provider "virtualbox" do |vb, override|
    # Display the VirtualBox GUI when booting the machine
    vb.gui = true
  end
end
